<div class="container-fluid" style="background-image:url('http://lorempixel.com/g/1000/400/'); background-size:cover;">
  <div class="container banner">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
<div class="container">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <h3>Les Tournois</h3>
      </div>
      <div class="col-md-6 text-right bottom-align-text">
        <a class="btn btn-md btn-primary btn-embossed" ui-sref="tournamentNew" style="margin-bottom:10px;">Créer mon tournois</a>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item clearfix">
        <i class="mdi mdi-trophy"></i> Cras justo odio
        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="Voir ce tournois">
          <button class="btn btn-sm btn-info">
            <i class="mdi mdi-arrow-right-drop-circle"></i>
          </button>
        </span>
      </li>
      <li class="list-group-item clearfix">
        <i class="mdi mdi-trophy"></i> Cras justo odio
        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="Voir ce tournois">
          <button class="btn btn-sm btn-info">
            <i class="mdi mdi-arrow-right-drop-circle"></i>
          </button>
        </span>
      </li>
      <li class="list-group-item clearfix">
        <i class="mdi mdi-trophy"></i> Cras justo odio
        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="Voir ce tournois">
          <button class="btn btn-sm btn-info">
            <i class="mdi mdi-arrow-right-drop-circle"></i>
          </button>
        </span>
      </li>
      <li class="list-group-item clearfix">
        <i class="mdi mdi-trophy"></i> Cras justo odio
        <span class="pull-right" data-toggle="tooltip" data-placement="top" title="Voir ce tournois">
          <button class="btn btn-sm btn-info">
            <i class="mdi mdi-arrow-right-drop-circle"></i>
          </button>
        </span>
      </li>
      <li class="list-group-item clearfix">
        <i class="mdi mdi-trophy"></i> Cras justo odio
        <span class="pull-right">
          <button class="btn btn-sm btn-primary">
            <i class="mdi mdi-file-document-box"></i>
          </button>
        </span>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    Top 3 players
  </div>
</div>

<div class="container">
  <h3>Tournois à venir...</h3>
  <div class="panel panel-default col-md-4">
    <div class="panel-body">
      Basic panel example
    </div>
  </div>
  <div class="panel panel-default col-md-4">
    <div class="panel-body">
      Basic panel example
    </div>
  </div>
  <div class="panel panel-default col-md-4">
    <div class="panel-body">
      Basic panel example
    </div>
  </div>
</div>
