body{

}

.navbar{
  margin-bottom: 0px;
}

.marged{
  margin-top:50px;
}

.banner{
  padding: 50px;
  h1,h2,h3,h4,p{
    color:#ffffff;
  }
}

.tournament-info{
  opacity:0.3;
}

.new-tournament-icon{
  opacity: 0.1;
  margin-top:30%;
}

footer{
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px ) {
  .row {
      position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
