<div class="container-fluid" style="background-image:url('http://lorempixel.com/1200/500'); background-size:cover;">
  <div class="container">
    <div class="col-md-3">
      <img src="img/default_avatar.png" class="img-thumbnail img-responsive" alt="{{tournament.nickname}}" style="height:150px;" />
    </div>
  </div>

</div>

<div class="container">
  <div class="col-md-8">
    <h4>Overview pour {{tournament.nickname}}</h4>
    <a ui-sref="edittournament" class="btn btn-primary btn-sm" ng-show="tournament.id === me.id"><i class="mdi mdi-pencil"></i></a>
    <p>{{tournament.nickname}} <span ng-if="tournament.name">({{tournament.name}})</span></p>
    <p>{{tournament.country}}</p>

  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">
      <h4>Statistiques</h4>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Commentaires</h4>
  </div>
</div>
