<div class="container">
  <h4>Liste des utilisateurs</h4>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>
            <!-- avatar -->
          </td>
          <td>
            Pseudonyme
          </td>
          <td>
          <!-- options -->
          </td>
        </tr>
      </thead>
      <tr ng-repeat="profil in profils">
        <td>
          <img fallback-src="img/default_avatar.png" ng-src="{{profil.image}}" alt="{{profil.nickname}}" class="img-responsive" />
        </td>
        <td>
          {{profil.nickname}}
        </td>
        <td>
          <a ui-sref="profil({id:profil.id})" class="btn btn-primary btn-sm">Voir <i class="mdi mdi-account"></i></a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h4>Top des utilisateurs</h4>
  </div>
</div>
