<div class="container-fluid" style="background-image:url('http://lorempixel.com/1200/500'); background-size:cover;">
  <div class="container banner">
    <div class="col-md-3">
      <img fallback-src="img/default_avatar.png" ng-src="{{profil.image}}" class="img-thumbnail img-responsive" alt="{{profil.nickname}}" style="height:150px;" />
    </div>
    <div class="col-md-6">
      <h3>{{profil.nickname}}</h3>
      <p>{{profil.description}}</p>
    </div>
    <div class="col-md-3 text-right">
      <a ui-sref="editProfil" class="btn btn-primary" title="Editer mon profil" ng-show="profil.id === me.id"><i class="mdi mdi-pencil"></i></a>
    </div>
  </div>

</div>

<div class="container">
  <div class="col-md-8">
    <h4>Overview pour {{profil.nickname}}</h4>
    <p>{{profil.nickname}} <span ng-if="profil.name">({{profil.name}})</span></p>
    <p>{{profil.country}}</p>

  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">
      <h4>Statistiques</h4>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Commentaires</h4>
  </div>
</div>
